.Home {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#background-video {
    z-index: -1;
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.center {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100vw;
    justify-content: center;
    align-content: center;
}

.center .Button {
    align-self: center;
    justify-self: center;
    width: 10rem;
    min-height: 4rem;
    opacity: .9;
}