.Product {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border-radius: 15px; */
    /* background-color: var(--item-background); */
    align-items: center;
    justify-items: center;
}

.Product img {
    max-width: 50vw;
    height: auto;
    justify-self: center;
    border-radius: 12px;
}

.Product .title {
    font-size: 2rem;
}

.Product button {
    font-size: 1.2rem;
    width: 8rem;
}