body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Merriweather', serif;
  overflow-x: hidden;
}

:root {
  --nav-height: 60px; 
  --nav-text: #fffcf2;
  --nav-background: #252422;
  --nav-search-background: #403d39;
  --icon-background: #403d39;

  /* 
    white: fffcf2
    light gray: ccc5b9
    gray : 403d39
    dark gray : 252422
    orange : eb5e28



    orange: ff9f1c
    light orange: ffbf69
    blue: 2ec4b6
    light blue: cbf3f0


  */
}


