body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Lato', sans-serif;
  /* overflow-x: hidden; */
}

:root {
  --nav-height: 62px; 
  --light: #fefae0;
  --dark: #283618;
  --less-dark: #606c38;
  --icon-background: #606c38;
  --shop-background: #54442b;
  --item-background: #a9714b;
  --dark-text: #150F07;

  /* 
    white: fffcf2
    light gray: ccc5b9
    gray : 403d39
    dark gray : 252422
    orange : eb5e28



    orange: ff9f1c
    light orange: ffbf69
    blue: 2ec4b6
    light blue: cbf3f0


  */
}


